body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab';
}

h1 {
  margin:0;
  padding:0;
  font-size: 27px;
  text-align: center;
}

.wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
  float: right;
}

a:link {color:black;}
a:visited {color:black;}
a:hover {color:black;}
a:active {color:black;}

#what {
  margin:auto;
  padding-top: 5px;
  font-size: 12px;
  text-align: center;
  height: 50px;
}

#about {
  display: none;
  margin:auto;
  font-size: 12px;
  width: 600px;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 50px;
  color: white;
}

#timerwr {
  height: 520px;
  background-color: #ff3652;
  margin-bottom: 20px;
}

#timer {
  position: relative;
  top: 50%;
  transform: translateY(-65%);
  text-align: center;
  font-size: 250px;
  color: white;
  height: 390px;
}

#done {
  display: none;
  height: 50px;
  text-align: center;
}

input[type="text"] {
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  width: 640px;
  height: 50px;
  border: 1px solid #610010;
}

button {
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  color: #333333;
  border: 1px solid #610010;
  border-radius: 0px;
  background-color: white;
}

.pom {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pomos {
  font-size: 32px;
}

.seed {
  height: 32px;
}